doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Admin - #{h.siteName}

    link(rel="stylesheet" type="text/css" href="/dist/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
  body.admin
    .container 
      h2.h2
        a(href="/admin") admin
        
    block content

    footer

    script(src="/dist/App.bundle.js")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    script.
      var simplemde = new SimpleMDE({ element: document.getElementById("mdeditor") });

  
    block scripts