$primary: #1EAAF1;
$secondary: #9B2FAE;
$gamma: #FF2D55;
$delta: #2DFF91;
$light: #EBF2F5;
$darker: #21547D;
$darkest: #184468;

$text-color: rgba(64,64,64,1);
$base-font-size: 2rem;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-weight: 400;

$heading-font-family: $base-font-family;
$heading-font-weight: 700;
$fixed-font-family: $base-font-family;
$fixed-font-size: 2rem;
$fixed-line-height: 1.6;
$quiet-color: #000;
$loud-color: #000;

$gutter: 4rem;