@import './reset';
@import './variables';
@import './base';
@import './grid';
@import './type';

@import './article';
@import './project';
@import './admin';


html, body {height: 100%; margin: 0; padding: 0;}
body {
	overflow-x: hidden;
}

main {
	max-width: 1440px;
	padding: 15px auto;
	margin: 0 auto;
	overflow: hidden;
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
		position: absolute;
		display:flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.sixteen-nine {
  @include aspect-ratio(16,9);
}

header {
	@include aspect-ratio(16,7);
	background: $primary;
	overflow: hidden;
	.content {
		svg {
			width: 100%; height: 100%;
			#logo, #logo_s{
				visibility: hidden;
			}
		}
	}
	.logo {
		margin: auto;
		width: 10rem; height: 10rem;
		z-index: 1;
	}
}

section#work {
	background: white;
	position: relative;
	box-sizing: content-box;
	padding-left: 2rem; padding-right: 2rem;
	padding-top: 8rem; padding-bottom: 8rem;
	@media screen and (max-width: 1024px) {
		.work-content {
			width: 100%;
		}
	}
	@media screen and (max-width: 768px) {
		padding-top: 4rem; padding-bottom: 4rem;
		.work__content {
			display: block;
			div {
				width: 100%;
			}
		}
		.work__grid {

			transform: none;
			display: block;
			width: 100%;
			&:nth-child(2) {
				display: none;
			}
			.work__item {
				width: 100%;
				margin: 2rem auto;
			}
		}
	}
}

section#services {
	padding: 6rem 1rem 2rem;
	background: #f8f8ff;
}


.ticker {
	display: flex;
	// transform: rotate(3deg);
	transform-origin: 0 0 100%;
	&:hover .work__grid {
		animation-play-state: paused;
	}
	@media screen and (max-width: 768px) {
		transform: rotate(0deg);
		.work__grid {
			animation: none;
		}
	}
}

.work__grid {
	display: flex;
	animation: ticker 120s infinite;
}

@keyframes ticker {
	100% {
		transform: translateX(-100%);
	}
}

.work__item {
	display: block;
	width: 54rem; //50rem
	height: 30rem; //30rem
	position: relative;
	background: white;
	color: $text-color;
	border-radius: 2rem;
	box-sizing: border-box;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,0.25);
	margin: 2rem;
	transition: all 0.5s;
	&:hover {
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);
	}
	.work__item-title {
		height: 8rem; width: 100%;
		background: white;
		position: absolute; bottom: 0; z-index: 1;
		border-radius: 0 0 16px 16px;
		display: flex; flex-direction: column; justify-content: center;
		box-sizing: border-box;
		padding: 0 2rem; line-height: 1.2;
		h4 {
			font-size: 2.5rem;
		}
		span.category {
			color: $primary;
			text-transform: uppercase;
			font-weight: 700; font-size: 2rem;
			&.case-study {color: $gamma;}
			&.work {color: $primary;}
			&.side-project {color: $secondary;}
		}
	}
 	img {
		 border-radius: inherit;
		 width: inherit;
		 height: inherit;
		position: absolute;
		object-fit: cover;
 	}
}


section#contact {
	background: #f8f8ff;
	padding-top: 4rem; padding-bottom: 2rem;

	h3 {
		margin-bottom: 4rem;
	}

	.map {
		width: 100%;
		height: 300px;
		border-radius: 10px;
		object-fit: cover;
	}
}


#blog {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 15px; padding-right: 15px;
	display: grid !important;
	grid-template-rows: 400px auto auto;
	grid-template-columns: 1fr 70rem 1fr;
	grid-template-areas: "header header header"
							"meta meta meta"
							"content content content";

	.blogHeader {
		grid-area: header;
	}

	.meta {
		grid-area: meta;
		height: 400px;
	}

	.content {
		display: subgrid;
		grid-area: content;
		article {
			 grid-row: 2 / span 1;
		}
	}




	@media screen and (max-width: 768px) {

	}
}




.img-responsive {
	display: block; max-width: 100%; height: auto;
}



pre {
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 95%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
    }       
    
    code {
        font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
        font-size: 95%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        background: #faf8f0;
    }
    
    .codeContent code {
        display: block;
        padding: 0.5em 1em;
        border: 1px solid #bebab0;
    }