extends layout

block content

  #blog
    .blogHeader
    .meta
    .content
      article
        .typography
          h1 Title

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptatum excepturi ratione quo. Obcaecati soluta veniam corporis natus repellendus possimus dolores id ab atque quasi, dolore, fuga totam nihil eos?
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem omnis, est fuga cum, suscipit quo alias consequuntur nulla numquam fugiat harum error accusamus ut, recusandae at eaque illo qui laborum!
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe deserunt, corrupti omnis nobis officiis, esse sit dolor id ducimus vero cupiditate! Iure, excepturi architecto? Commodi temporibus illo voluptatem aliquam nobis.