extends layout

block content

  main
    header
      .content
        svg(viewBox="0 0 800 350", xmlns='http://www.w3.org/2000/svg')
          g(fill='#FFF', fill-rule='evenodd')
            path(id="rect" d='M0 0h800v350H0z')
            path(id="logo" d='M381.96023 156.824906c5.173237-5.167698 32.034671-5.031597 37.071661 0 5.307926 5.302245 5.27367 31.763953 0 37.031978-5.531631 5.52571-31.543144 5.522599-37.071661 0-5.336214-5.330502-5.224102-31.813468 0-37.031978zm25.038869 32.906059c1.57511 0 2.937971-.669623 3.496521-1.729859h.212248v1.540133h3.842822v-8.470731c0-2.678492-1.954924-4.240946-5.384419-4.240946-3.362469 0-5.563154 1.495491-5.74189 3.906134h3.552376c.256933-.658462.927192-1.004434 1.966094-1.004434 1.094758 0 1.720333.502217 1.720333 1.339246v.970953l-2.714551.156246c-3.206075.189726-4.971092 1.506651-4.971092 3.772209 0 2.276718 1.630965 3.761049 4.021558 3.761049zm1.441058-2.756614c-.994219 0-1.653307-.491057-1.653307-1.283444 0-.747746.614404-1.205322 1.787359-1.294605l2.088975-.133924v.814708c0 1.071396-.971876 1.897265-2.223027 1.897265zm-13.008842 2.566888c3.451837 0 5.63018-1.819143 5.63018-4.64272 0-2.05351-1.630965-3.694087-3.742282-3.80569v-.212048c1.709162-.234368 3.004997-1.696378 3.004997-3.426238 0-2.499925-1.899069-4.017738-5.116315-4.017738h-7.518079v16.104434h7.741499zm-3.641744-13.213894h2.323566c1.396375 0 2.211857.691944 2.211857 1.841463 0 1.138359-.871337 1.830303-2.36825 1.830303h-2.167173v-3.671766zm0 10.323355v-4.162823h2.457618c1.697991 0 2.647526.736585 2.647526 2.05351 0 1.361567-.927193 2.109313-2.625184 2.109313h-2.47996zm1.044908-19.484095c1.382685 0 2.360383-.878684 2.360383-2.121102 0-1.11981-.826338-1.949451-1.943123-1.949451-.683161 0-1.214964.306517-1.476774.858249h-.077725c-.05318-1.091203.409079-1.843193 1.137239-1.843193.400897 0 .724069.208432.818157.531298h1.468592c-.15545-.993117-1.09224-1.687891-2.282659-1.687891-1.583134 0-2.560832 1.197463-2.560832 3.130567 0 .866423.20863 1.602065.605437 2.125188.425441.621209 1.112693.956335 1.951305.956335zm-.012273-1.152506c-.52362 0-.928608-.40869-.928608-.931813 0-.51495.400897-.911379.928608-.911379.531803 0 .9327.396429.9327.919552 0 .519037-.409079.92364-.9327.92364zm-5.860132 1.156593c1.423594 0 2.364475-.87051 2.364475-2.145623 0-1.148419-.801794-1.97806-1.92267-1.97806-.605436 0-1.022696.23704-1.25178.604861h-.077725l.110451-1.369112h2.769462v-1.168853h-3.927155l-.278173 3.453431h1.321324c.188176-.298344.482713-.486341.899973-.486341.548165 0 .940881.392342.940881.980856 0 .576253-.388625.952248-.93679.952248-.494986 0-.887701-.286083-.957244-.719295h-1.362232c.020454 1.070768.93679 1.875888 2.307203 1.875888z')
            path(id="logo_s" d='M387.640153 162.549938c3.448825-3.445133 21.356448-3.354399 24.714441 0 3.538618 3.534829 3.51578 21.175968 0 24.687985-3.687754 3.683806-21.028763 3.681732-24.714441 0-3.557476-3.553668-3.482734-21.208979 0-24.687985zm16.692579 21.937372c1.050074 0 1.958648-.446415 2.331014-1.153239h.1415v1.026755h2.561881v-5.647154c0-1.785662-1.303283-2.827297-3.589613-2.827297-2.241646 0-3.70877.996994-3.827927 2.604089h2.368251c.171288-.438975.618128-.669623 1.31073-.669623.729838 0 1.146888.334812 1.146888.892831v.647302l-1.809701.104164c-2.137383.126484-3.314061 1.004434-3.314061 2.514806 0 1.517812 1.08731 2.507366 2.681038 2.507366zm.960706-1.837743c-.662812 0-1.102205-.327371-1.102205-.855629 0-.498497.409603-.803548 1.191573-.86307l1.39265-.089283v.543139c0 .714264-.647917 1.264843-1.482018 1.264843zm-8.672562 1.711259c2.301225 0 3.753454-1.212762 3.753454-3.095146 0-1.369007-1.08731-2.462725-2.494855-2.537128v-.141364c1.139441-.156246 2.003332-1.130919 2.003332-2.284159 0-1.666617-1.266046-2.678492-3.410877-2.678492h-5.012052v10.736289h5.160998zm-2.427829-8.809263h1.549045c.930916 0 1.474571.461296 1.474571 1.227642 0 .758906-.580892 1.220202-1.578834 1.220202h-1.444782v-2.447844zm0 6.882237v-2.775216h1.638413c1.131994 0 1.765017.491057 1.765017 1.369007 0 .907712-.618129 1.406209-1.750123 1.406209h-1.653307zm.696605-12.989397c.921791 0 1.57359-.585789 1.57359-1.414067 0-.746541-.550893-1.299635-1.295416-1.299635-.455441 0-.809976.204345-.984516.572166h-.051817c-.035453-.727468.272719-1.228795.758159-1.228795.267265 0 .482713.138955.545439.354198h.979061c-.103633-.662078-.72816-1.12526-1.521772-1.12526-1.055423 0-1.707222.798308-1.707222 2.087044 0 .577616.139087 1.068044.403624 1.416793.283628.414139.741796.637556 1.30087.637556zm-.008181-.768337c-.349081 0-.619072-.27246-.619072-.621209 0-.3433.267264-.607586.619072-.607586.354535 0 .621799.264286.621799.613035 0 .346025-.272719.61576-.621799.61576zm-3.906755.771062c.949063 0 1.576316-.58034 1.576316-1.430415 0-.765613-.534529-1.318707-1.281779-1.318707-.403624 0-.681798.158027-.834521.403241h-.051816l.073634-.912741h1.846308v-.779236h-2.618103l-.185449 2.302287h.880883c.12545-.198895.321808-.324227.599982-.324227.365443 0 .627253.261562.627253.653904 0 .384169-.259083.634832-.624526.634832-.32999 0-.591801-.190722-.638163-.47953h-.908154c.013635.713846.624526 1.250592 1.538135 1.250592z')



      //- h1.h1 jaap.ninja
    section#work
      .work__content.typography
        div
          h3.h3 Recent Projects
          p Lorem ipsum dolor sit amet <a href="#">consectetur</a> adipisicing elit. Expedita dolores debitis, dicta dolorum quisquam odio delectus deleniti ratione cum rem voluptatibus numquam. Quam iure tempore expedita, accusantium labore maiores. Sapiente.
          a.main__link(href="") See all projects
      .work__grid
        a.work__item(href='#')
          .work__item-title
            span.category Case Study
            h4.h5 Party with a Local
          img(src="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg")
        a.work__item(href='#')
          .work__item-title
            span.category Side Project
            h4.h5 PartyList
          img(src="http://www.holifestival.org/images/holi-image-4-big.jpg")
        a.work__item(href='#')
          .work__item-title
            span.category Work
            h4.h5 SecretHub
          img(src="https://geant3plus.archive.geant.net/Resources/PartnerResources/Partner%20Resources%20Image%20Library/Image%2020_000003529661.jpg")
    section#services.typography.has-centered-text
      .columns.is-centered.is-multiline
        .column.is-4
          h3.h3 What can we do for you?
      .columns.is-centered.is-multiline
        .column.is-4
          svg(width='100', height='100', xmlns='http://www.w3.org/2000/svg')
            path(d='M8.8005113 8.49979203c11.4960811-11.48377518 71.1881587-11.18132801 82.3814685 0 11.7953922 11.78276587 11.7192672 70.58656177 0 82.29328377-12.2925137 12.2793552-70.0958753 12.2724422-82.3814685 0-11.85825322-11.8455597-11.60911572-70.696595 0-82.29328377zm5.7679284 5.81002907c-9.9838395 9.9731524-10.19809775 60.5850428 0 70.7722241 10.5656102 10.5543002 60.2765011 10.5602455 70.8480629 0 10.0785695-10.0677809 10.1440373-60.6390454 0-70.7722241-9.6262464-9.61594204-60.9614331-9.87604661-70.8480629 0z', fill='#9B2FAE', fill-rule='evenodd')
          h4.h5 Design
          p We design according to the latest design patterns. We always try to innovate while keeping our designs intuitive and beautiful.
        .column.is-4
          svg(width='100', height='100', xmlns='http://www.w3.org/2000/svg')
            g(fill='#1EAAF1', fill-rule='evenodd')
              path(d='M8.8005113 8.49979203c11.4960811-11.48377518 71.1881587-11.18132801 82.3814685 0 11.7953922 11.78276587 11.7192672 70.58656177 0 82.29328377-12.2925137 12.2793552-70.0958753 12.2724422-82.3814685 0-11.85825322-11.8455597-11.60911572-70.696595 0-82.29328377zm5.7679284 5.81002907c-9.9838395 9.9731524-10.19809775 60.5850428 0 70.7722241 10.5656102 10.5543002 60.2765011 10.5602455 70.8480629 0 10.0785695-10.0677809 10.1440373-60.6390454 0-70.7722241-9.6262464-9.61594204-60.9614331-9.87604661-70.8480629 0z')
              path(id="cog" d='M36.2695 70.63272c-1.1992 1.1523-3.1172 1.1328-4.2891-.03906l-2.375-2.3789c-1.1719-1.1719-1.1992-3.0859-.04297-4.2891l.10156-.10547c1.1484-1.1953 1.5664-3.3984.92969-4.9414l-.28906-.69531c-.63672-1.5352-2.4844-2.8086-4.1562-2.8398l-.14062-.0039c-1.6602-.03125-3.0039-1.4023-3.0039-3.0625L23 48.91788c0-1.6602 1.3359-3.0312 3.0039-3.0625l.14453-.00391c1.6602-.03125 3.5156-1.2969 4.1562-2.8398l.28516-.69531c.63672-1.5352.22656-3.7422-.92969-4.9453l-.09766-.10156c-1.1523-1.1992-1.1328-3.1172.03906-4.2891l2.3789-2.375c1.1719-1.1719 3.0859-1.1992 4.2891-.04297l.10547.10156c1.1953 1.1484 3.3984 1.5664 4.9414.92969l.69531-.28906c1.5352-.63672 2.8086-2.4844 2.8398-4.1562l.00391-.14062c.03125-1.6602 1.4023-3.0039 3.0625-3.0039L51.27729 24c1.6602 0 3.0312 1.3359 3.0625 3.0039l.0039.14453c.03125 1.6602 1.2969 3.5156 2.8398 4.1562l.69531.28516c1.5352.63672 3.7422.22656 4.9453-.92969l.10156-.09766c1.1992-1.1523 3.1172-1.1328 4.28911.03906l2.375 2.3789c1.1719 1.1719 1.1992 3.0859.04296 4.2891l-.10156.10547c-1.1484 1.1953-1.5664 3.3984-.92969 4.9414l.28906.69531c.63672 1.5352 2.4844 2.8086 4.1562 2.8398l.14062.00391c1.6602.03125 3.0039 1.4023 3.0039 3.0625l.00391 3.3594c0 1.6602-1.3359 3.0312-3.0039 3.0625l-.14453.0039c-1.6602.03125-3.5156 1.2969-4.1562 2.8398l-.28516.69531c-.63672 1.5352-.22656 3.7422.92969 4.9453l.09766.10156c1.1523 1.1992 1.1328 3.1172-.03907 4.2891l-2.3789 2.375c-1.1719 1.1719-3.0859 1.1992-4.2891.04297l-.10547-.10156c-1.1953-1.1484-3.3984-1.5664-4.9414-.92969l-.69531.28906c-1.5352.63672-2.8086 2.4844-2.8398 4.1562l-.0039.14062c-.03125 1.6602-1.4023 3.0039-3.0625 3.0039l-3.3594.00391c-1.6602 0-3.0312-1.3359-3.0625-3.0039l-.00391-.14453c-.03125-1.6602-1.2969-3.5156-2.8398-4.1562l-.69531-.28516c-1.5352-.63672-3.7422-.22656-4.9453.92969l-.10156.09765zm8.3516-8.0234c6.6367 2.7461 14.238-.40234 16.988-7.0352 2.7461-6.6367-.40234-14.238-7.0352-16.988-6.6367-2.7461-14.238.40234-16.988 7.0352-2.7461 6.6367.40234 14.238 7.0352 16.988z')

          h4.h5 Development
          p A custom build CMS or the framework of your choice, it's never a problem with us. We have extensive experience building both.


